html
    {
    font-size: 10px;
    margin: 0;
    padding: 0;
    position: relative;
background:rgba(142, 217, 235, 0.85);
    }
body 
    {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background:#85F6B8;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Inter';
    font-style: normal;
    }
main 
    {
    width:40%;
    padding:3%;
    background: #FFFFFF;
    margin:1.5% 0;
    color: #555555;
    }
.headerOfStartPage
    {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.9rem;
    text-align: center;
    color: #555555;

    }
.paragraph 
    {
    margin:4% auto;
    width:85%;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    color: #555555;
    }
.inputGamer 
    {
    margin-top:7%;
    }
.gamerInfo 
    {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    display: block;
    margin-bottom: 2%;
    }
.input 
    {
    border: 1px solid #DDDDDD;
    display: block;
    width: 94%;
    font-size: 1.5rem;
    color: #555555;
    padding:3%;
    }
.inputRadio
    {
    font-size: 1.5rem;
    color: #555555;
    padding: 3%;
    }
.style-of-input 
    {
    display: block;
    }
.alertName, .alertMail 
    {
    display:none;
    color:#FF3838;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1%;
    }
.tests 
    {
    background-color: #028A3D;
    margin:8% auto;
    display:block;
    text-align: center;
    height:20%;
    width:45%;
    color:white;
    padding: 1.5rem 0;
    border:none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    box-shadow: 0 .2rem .1rem .1rem #c4C4C4;
    }
/* page of Quiz */
.divQuiz 
    {
    display: none;
    }
.quiz 
    {
    margin-top:6%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    }
.quizNumberAndChrono 
    {
    display: flex;
    justify-content: space-between;
    }
.numberOfQuiz 
    {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #555555;
    }
.chrono 
    {
    display: block;
    font-size: 1.4rem;
    line-height: 3.2rem;
    color: #555555;
    }
.progressBar 
    {
    height:1rem;
    background-color:#DDDDDD;
    border-radius: 1rem;
    margin-bottom: 10%;
    }
.progressBarContained 
    {
    display: block;
    border-radius: 1rem;
    background-color:#028A3D;
    height: 1rem;
    }
.choiceListElement 
    {
    height: 7.5%;
    border: 1px solid #DDDDDD;
    padding: 1rem;
    margin-bottom:5%;
    font-size: 2rem;
    }
[name|="choice"]:checked 
    {
    border: 1rem solid #028A3D;
    }
.containerOfButton
    {
    display: flex;
    justify-content: space-between;
    margin:10% 0 5% 0;
    }
.styleOfButton 
    {
    height:20%;
    width:45%;
    color:white;
    padding: 1.5rem 0;
    border:none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    box-shadow: 0 .2rem .1rem .1rem #c4C4C4;
    }
.buttonExit 
    {
    background-color: #EC880C;
    cursor:pointer;
    }
.buttonNext 
    {
    background-color: #028A3D;
    cursor:pointer;
    }
/* EndPage */
.endButton 
    {
    background-color: #0880D6;
    cursor:pointer;
    margin: 3% 0 15% 0;
    }
.endPage 
    {
    display:none;
    flex-direction: column;
    align-items: center;
    }
.secondTitle 
    {
    margin:15% 0 0 0;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
    text-align: center;
    }
.gamerMail 
    {
    margin-bottom: 6%;
    width:85%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    }
.score 
    {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    color: #555555;
    margin:10% 0 5% 0;
    }
[name|="choice"] 
    {
    appearance: none;
    border: 1px solid #DDDDDD;
    border-radius: 2rem;
    height: 2rem;
    width: 2rem;
    }
@media all and (min-width:600px) and (max-width: 900px) 
{ 
    main 
    { 
    width:70%;
    height: auto;
    } 
    .headerOfStartPage
    {
    font-size: 3rem;
    }
    .paragraph 
    {
    font-size: 2rem;
    }
 }
@media all and (min-width:320px) and (max-width: 600px) {
     main { width:80%;}
  .tests {width:70%;}
  .headerOfStartPage
    {
    font-size: 2.4rem;
    }
.paragraph 
    {
    font-size: 1.45rem;
    }
}